.jumbotron {
    background-color:#f8f8ff;

    color:black;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .one
  {
      margin-top:1%;
  } 

  .two
  {
      width:50%;
      height:10%;
  }