table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr{
    background-color: #f1f1f1;
  }

.three
{
 

  margin-top:5%;
 
  
  
}